@import url(../base/fonts.css);

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: amsterdam;
}

/* navbar */
nav {
    position: fixed;
    background-image: linear-gradient(to right, #000, #fd0000, #000) !important;
    justify-content: center;
    border: none;
    box-shadow: 0 0 1.875rem #fd0000 !important;
    z-index: 111;
    font-family: amsterdam;


    .links {
        padding: 0rem !important;
        margin: 0rem !important;
        display: flex !important;
        justify-content: center !important;

        .navbar-brand {
            margin-inline-start: 6.25rem;
            padding: 0rem;

            img {
                width: 20%;
            }

        }

        .collapse {
            display: flex !important;
            justify-content: center !important;

            .navbar-nav {
                display: flex !important;
                justify-content: center !important;
                margin: 0rem 0.313rem !important;

                .nav-item {
                    font-size: 1.125rem;
                    font-weight: 400;
                    line-height: 1.349rem;
                    margin: 0rem 0.625rem;

                    a {
                        color: #fff;
                        filter: drop-shadow(0rem 0.25rem 25rem #000000);
                    }

                    .active {
                        border-radius: 30%;
                        box-shadow: 0 0 0.625rem #fff;
                    }

                    .dropdown-menu {
                        background-color: #000;
                        padding: 0rem;
                        border-radius: 0.625rem;
                        filter: drop-shadow(0 0 1.25rem #fd0000);

                        .dropdown-item {
                            transition: all .5s;
                            margin: 0.625rem;


                            &:hover {
                                background-color: transparent;
                                filter: drop-shadow(0 0 1.25rem #fd0000);
                            }
                        }
                    }
                }
            }


        }

        .login {
            margin-inline-end: 3.125rem;
            padding: 0.625rem 1.875rem;
            background-color: transparent;
            box-shadow: 0 0 0.313rem #fd0000;
            border-radius: 1.25rem;
            transition: all 1s;

            &:hover {
                background-color: #780202;
                box-shadow: 0 0 0.625rem #fd0000;

            }

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

/* offcanv */
.offcanv {

    /* buttons */
    .offcanvas-buttons {
        margin: 0.625rem;
        background-color: transparent;
        position: fixed;
        z-index: 111;

        .btn {
            background-color: transparent;
            text-align: center;

            .button {
                background-color: transparent;
                border: none;
                margin: 0px 0.938rem;

                i {
                    color: #fd0000;
                    font-size: 1.25rem;
                    margin: 0.313rem;
                }

            }
        }

        .login {
            position: fixed;
            right: 0;
        }

        .menu {
            position: fixed;
            left: 0;
        }


    }

    /* offcanvas */
    .offcanvas {
        backdrop-filter: blur(10px);
        background-color: transparent;
        width: 40vw !important;



        .offcanvas-header {
            margin: 1.875rem;
            text-align: center;

            h5 {
                color: #fff;
                font-size: 2.188rem;
            }

            .btn-close {
                background-color: #fff;
            }
        }

        .offcanvas-body {
            .content {
                list-style: none;

                .dropdown {

                    .button {
                        color: #fff !important;
                        margin: 0px;
                        padding: 0px;
                        font-size: 1.25rem;
                        border: none;
                        background-color: transparent !important;
                        transition: all 0.5s;


                        &:hover {
                            color: #000 !important;
                        }


                    }

                    .dropdown-menu {
                        background-color: #000 !important;

                        a {
                            border-radius: 0.625rem;
                            transition: all 0.5s;


                            &:hover {
                                background-color: #fd0000 !important;
                            }
                        }
                    }
                }

                li {
                    color: #fff !important;
                    margin: 2.5rem;
                    font-size: 1.25rem;


                    a {
                        text-decoration: none;
                        color: #fff !important;

                        &:hover {
                            color: #000 !important;
                        }
                    }
                }
            }

            img {
                width: 80%;
                margin: auto;
            }

            .social {

                .icon {
                    display: inline-block;
                    text-align: center;
                    background-color: transparent;
                    margin: 0px 0.625rem;

                    a {

                        text-decoration: none;
                        color: #FFF;
                        transition: all 0.5s;

                        &:hover {
                            color: #fd0000;
                        }
                    }


                }
            }
        }

    }
}

.finilize {
    .header {
        text-align: center;
        margin: 2.5rem;

        h3 {
            font-size: 1.875rem;
            color: #fff;
        }
    }

    .row {
        justify-content: space-evenly;
        margin-bottom: 2.5rem;

        .card {
            box-shadow: 0 0 0.625rem #fd0000;
        }
    }

    .form {
        text-align: center;
        width: 70%;
        margin: auto;

        .iconbtn {
            text-decoration: none;
            color: #fd0000;
            font-size: 30px;
            margin: 30px;


        }

        .modal {
            .modal-dialog {
                border-radius: 30px;
                box-shadow: 0 0 15px #fd0000;

                .modal-content {
                    background-color: #000;
                    color: #fff;
                    box-shadow: 0 0 10px #fd0000;
                    border-radius: 30px;

                    .head {
                        margin-top: 20px;

                        .btn-close {
                            background-color: #fff !important;
                            border-radius: 30px;
                            margin-bottom: 10px;
                        }
                    }

                    .modal-body {
                        img {
                            max-width: 100%;
                            height: auto;
                            display: block;
                            margin: 0 auto;
                            border-radius: 30px;
                        }
                    }
                }
            }
        }
    }
}

/* responsive */
@media screen and (max-width:1024px) {

    nav {
        display: none !important;
    }

}

@media screen and (min-width:1024px) {
    .offcanv {
        display: none;
    }

}

@media screen and (max-width:768px) {
    .finilize {
        .header {
            text-align: center;
            margin: 2.5rem;

            h3 {
                font-size: 1.25rem;
                color: #fff;
            }
        }

        .row {
            justify-content: center;
            margin-bottom: 2.5rem;


            .card {
                box-shadow: 0 0 0.625rem #fd0000;
                text-align: center;
                margin: 1.25rem;
            }
        }

    }
}

@media screen and (max-width:600px) {
    :root {
        font-size: 12px;
    }
}

@media screen and (max-width:400px) {
    :root {
        font-size: 8px;
    }
}